body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: black;
    height: 340px;
    width: 280px;
    border: 10px solid black;
    border-radius: 7px;
}

#display {
    background-color: grey;
    height: 50px;
    padding: 5px;
    text-align: right;
    vertical-align: middle;
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 7px;
    border: 1px solid black;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}